<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjKtAovyoaz8-bS3i8eiJCCqUnyFsGOlg</string>
	<key>GCM_SENDER_ID</key>
	<string>541224069526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UTCS.SwiftUIAuth</string>
	<key>PROJECT_ID</key>
	<string>authentication-e9970</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-e9970.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541224069526:ios:a83cbfc5b1034bfb91d5b7</string>
</dict>
</plist>